[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
torch = "*"
torchmetrics = "*"
ipykernel = "*"
wandb = "*"
seqeval = "*"
transformers = "*"
torchcrf = "*"
accelerate = "*"

[dev-packages]

[requires]
python_version = "3.12"
